{% load static %}

body {
    background:white;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@media all and (min-width:1080px){
    header {
        padding: 20px;
        background-color: black;
        background-image: url(images/nine.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height:210px;
    }
    ul {
        margin:0;
        list-style:none;
        text-align: center;

    }
    li {
        display:inline-block;
        margin:auto;
    /*    margin-left: 20;*/
        width: 120px;

    }

    li.unusual {
        display:none;
        margin:auto;
    }

    header a {
        text-decoration: none;
        text-transform: uppercase;
        color:grey;
        margin-top: 40px;
        font-size:18px;
        margin:auto;
    }
    header ul .logo {
        background-color: black;
        background-image: url(images/logo.png);
        background-size: 100px;
        background-repeat: no-repeat;
        position: relative;
        top:-40px;
        display: inline-block;
        height: 100px;
        width: 100px;
        text-indent: -99999px;

    }
}

@media all and (max-width:1080px){
    header {
        display: none;
    }
}



section.features {
    background-color: white;
    color:grey;
    padding: 20px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
section.features figure {
    width:200px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin:auto;
}

main.mains {
    background-color: white;
    color:grey;
    padding: 20px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
main.mains div.blocks {
    width:400px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin:auto;
}

#cropedBigImg {
    width:260px;
    border: 1px solid white ;
    border-radius:50%;
    box-shadow:grey 0 0 10px;
    margin:auto;
    display:block;
}
/*#chooseImage {
    display:block;
    opacity:1;
    margin:auto;
}*/
main.mains div.blocks div.fileupload {
    margin:auto;
    margin-top:10px;
    display:inline-block;
    width:60px;
}

.mains .blocks .fileupload#resultbtn {
    margin:auto;
    margin-top:36px;
    width:100px;
}

/*a  upload */
.mains .blocks .fileupload .a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-decoration: none;
}

.mains .blocks .fileupload input {
    border-radius:0;
    position: absolute;
    font-size: 24px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.mains .blocks .fileupload .a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    border: 1px solid white ;
    box-shadow:grey 0 0 10px;
}

/* @media screen and (max-width:1000px) {
    section.features {
        display:block;
    }
} */

.features figure img {
    border: 1px solid white ;
    border-radius:50%;
    box-shadow:grey 0 0 10px;
    width:200px
}


table.mytable {
    border-collapse:collapse;
    margin:0 auto;
    text-align:center;
}
table.mytable td, table.mytable th {
    border: 1px solid #cad9ea;
    color: #666;
    height: 30px;
}
table.mytable thead th {
    background-color: #CCE8EB;
    width: 160px;
}
table.mytable tr:nth-child(odd) {
    background: #fff;
}
table.mytable tr:nth-child(even) {
    background: #F5FAFA;
}


footer {
    background-color: black;
    color:grey;
    text-align: center;
    font-size: 10px;
    padding:20px 20px;
}

@media screen and (max-width:616px) {
    li.unusual {
        display: inline-block;
    }
    li.usual {
        display: none;
    }
    header {
        height:260px;
    }
} 